@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F8F4;
}

/* for lap-top my-size */
.review-page {
  margin: 0 23vw 0 25vw;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  color: #000000;	
  font-family: Hind;	
  font-size: 40px;	
  font-weight: bold;	
  line-height: 64px;
  margin-bottom: 4vh;
  padding-top:3.6vh;
}


.influencer-pic {	
  position: absolute;
  left: 12vw;
  height: 181.25px;	
  width: 168.75px;	
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 34.64%, rgba(0,0,0,0.75) 100%);
  border-radius: 200px;
}

.subheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 51vw;
}

.category-name{
  display: flex;
  flex-direction: row;
}
.author {	
  justify-content: flex-end;
  height: 22px;	
  color: #3D676A;	
  font-family: Hind;	
  font-size: 18px;	
  font-weight: bold;	
  line-height: 22px;
  margin-right: 2vw;
}


.shape {	
  height: 23px;	
  width: 100px;	
  display: flex;
  text-align: center;
  border-radius: 20px;	
  background-color: #F66C4F;
}
.card-category {
  position: absolute;
}

.photography {		
  color: #FFFFFF;	
  font-family: Hind;	
  font-size: 12px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 20px;
}

.icon {	
  margin-top: 0.5vh;
  margin-right: 0.30vw;
  margin-left: 0.30vw;
  height: 1.5vh;	
  width: 1.25vw;
}

.profile-name {
  height: 22px;	
  /* width: 130px;	 */
  padding-right: 15px;
  color: #BABABA;	
  font-family: Hind;	
  font-size: 13px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 22px;
}

.instagram {	
  height: 25px;	
  width: 25px;
}

.profile-instagram{
  display: flex;
  flex-direction: row;
}

.video {	
  margin-top: 20px;
  height: 60vh;	
  width: 51vw;	
  background-color: rgba(0,0,0,0.15);
}

.product-bubble {	
  background-color: rgba(0,0,0,0.15);	
  box-shadow: -10px -4px 26px 0 rgba(0,0,0,0.06);
  /* height: 181.25px;	
  width: 168.75px;	 */
  height: 21vh;	
  width: 12vw;	
  border-radius: 50%;
  position: fixed;
  bottom: -25px;
  right: -25px;
  display: flex;
  justify-content: center;
}

.product-bubble:hover{
  /* transition: ease 1s;  */
  height: 42vh;	
  width: 24vw;
  bottom: -48px;
  right: -48px;
}

.text-inside-bubble{
  display: none;
  color: #3D676A;	
  font-family: Hind;	
  font-size: 15px;	
  font-weight: 500;	
  line-height: 3px;	
  text-align: center;
  padding-top: 40px;
}

.product-bubble:hover  .text-inside-bubble {
  transition-delay: 4s;
  display: block;
}

.product-inside-bubble{
  display: flex;                         
  padding-top: 4vh;
  height: 120px;
  width: 82.5px;
}


/* // */


.center {
  text-align: center;
}


.influencer-card{
  border: solid 1px black;
  width: 20vw;
}
.create-card{
  /* display: flex; */
  height: 30vh;
  width: 30vw;

}
/*App */
.app {
  font-family: "Hind", sans-serif;
}
/*navbar
*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 10px;
  /* letter-spacing: 0.75px; */
  margin: 5vh 2vw 5vh 2vw;
  font-family: "Hind", sans-serif;
}

#logo-mystory {
  height: 5vh;
  width: auto;
  position: absolute;
  left: 5vw;
}
#mystory-name {
position: absolute; 
left: 30px;
font-size: 150%;
}

#account-glyph {
  height: 3.5vh;
  width: auto;
}
.navbar-section {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 40vw;
}

.navbar-section span {
  padding-left: 4vw;
}

.icons-account-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 18vw;  
  /* padding-left: 5vw; */


}

.icons-account-cart span {
  text-align: right;
  padding-left: 2vw;
}

.navbar-section p:hover {
  text-decoration: underline #F66C4F;
}

.icons-account-cart span:hover {
  color: red;
}

.see-cart{
position: fixed;
top:500;
/* height:25%; */
background-color: black;
}

.products-card {
height: 14vh;
border: solid 1px black;
margin: 5vh 0 2vh 0;
}

/* Index */
.index-page {
  margin: 0 12vw 0 12vw;
}
/* Expert Section */
.expert-section {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.expert-message {
/* height: 45vh; */
width: 50vw;
height: auto;
position: relative;
bottom: 25px;

}

.expert-message p {
  font-size: 8vh;
  font-family: "Hind", sans-serif;   
  font-weight: bold;
  line-height: 8.6vh;
}

#skip-intro {
  color: blue;
  font-weight: normal;
  font-size: 100%;
}

/* Expert Illustration */

#expert-illustration {
  width: 37vw;
  height: 55vh;
}

.background-blue-dash {
 position: relative;
 bottom:  65px;
 left: 100px;
 height: 22vh;
 width: auto;
}

/* Expert Card */

.category-card {
  height: 23px;	
  width: 100px;	
  display: flex;
  text-align: center;
  border-radius: 20px;	
  background-color: #F66C4F;
  position: relative;
  top: -5px;
  left: -5px;

}


#name-votes {
  display: flex;
  color: white;
  flex-direction: column;
  padding-left: 15px;
  align-self: flex-end;
}

#name-card {
  font-size: 120%;
  display: flex;
  flex-direction: row;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
}

.votes {
  display: flex;
}

#arrow {
  height: 20px;
  padding: 2px;
}

.product-card-bubble {
  align-self: flex-end;
  padding: 0 2vw 1.5vh 0;
}

#product-picture {
  height: 10vh;
  width: auto;
}

/* Expert Hey Hey Message */
.heyhey-expert {
  height: 50vh;
}