@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F8F4;
}

/* for lap-top my-size */
.review-page {
  margin: 0 25vw 0 25vw;
}
.heading {	
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 12.8vh;	
  color: #000000;	
  font-family: Hind;	
  font-size: 40px;	
  font-weight: bold;	
  line-height: 64px;
  margin-bottom: 4vh;
}
.subheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-name{
  display: flex;
  flex-direction: row;
}
.author {	
  justify-content: flex-end;
  height: 22px;	
  color: #3D676A;	
  font-family: Hind;	
  font-size: 18px;	
  font-weight: bold;	
  line-height: 22px;
  margin-right: 2vw;
}

.shape {	
  height: 23px;	
  width: 100px;	
  display: flex;
  text-align: center;
  border-radius: 20px;	
  background-color: #F66C4F;
}
.photography {		
  color: #FFFFFF;	
  font-family: Hind;	
  font-size: 12px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 20px;
}

.icon {	
  margin-top: 0.5vh;
  margin-right: 0.30vw;
  margin-left: 0.30vw;
  height: 1.5vh;	
  width: 1.25vw;
}

.profile-name {
  height: 22px;	
  width: 107px;	
  color: #BABABA;	
  font-family: Hind;	
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 22px;
}


/* // */


.center {
  text-align: center;
}


.influencer-card{
  border: solid 1px black;
  width: 20vw;
}
.create-card{
  /* display: flex; */
  height: 30vh;
  width: 30vw;

}
/*App */
.app {
  font-family: "Hind", sans-serif;
}
/*navbar
*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
  width: auto;
  color: black;
  font-size: 85%;
  margin: 5vh 2vw 5vh 2vw;
  font-family: "Hind", sans-serif;
}

#logo-mystory {
  height: 5vh;
  width: auto;
  position: absolute;
  left: 5vw;
}

#account-glyph {
  height: 3.5vh;
  width: auto;
}
.navbar-section {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 40vw;  

}

.navbar-section span {
  padding-left: 6vw;
}

.icons-account-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20vw;  

}

.icons-account-cart span {
  text-align: right;
  padding-left: 4vw;
}

.navbar-section p:hover {
  text-decoration: underline orange;
}

.icons-account-cart span:hover {
  color: red;
}

.see-cart{
position: fixed;
top:500;
/* height:25%; */
background-color: black;
}

.products-card {
height: 14vh;
border: solid 1px black;
margin: 5vh 0 2vh 0;
}

/* Index */
.index-page {
  margin: 0 12vw 0 12vw;
}
/* Expert Section */
.expert-section {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.expert-message {
/* height: 45vh; */
width: 45vw;
border: 1px solid;
}

.expert-message p{
  font-size: 8vh;
  font-family: "Hind", sans-serif;   
  font-weight: bold;
  line-height: 8.6vh;
}
#skip-intro {
  color: blue;
  font-weight: normal;
  font-size: 100%;
}

#expert-illustration {
  width: 40vw;
  height: 60vh;
}